---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=91308bd8f63e0d7fb201119449dbcd79&q=Barcelona,Spain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":2.16,"lat":41.39},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":288.65,"pressure":1023,"humidity":38,"temp_min":288.15,"temp_max":289.15},"visibility":10000,"wind":{"speed":2.1,"deg":220},"clouds":{"all":20},"dt":1510318800,"sys":{"type":1,"id":5485,"message":0.0023,"country":"ES","sunrise":1510295665,"sunset":1510331744},"id":3128760,"name":"Barcelona","cod":200}'
  recorded_at: Fri, 10 Nov 2017 13:08:17 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=91308bd8f63e0d7fb201119449dbcd79&q=Atlantis,Greece
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"404","message":"city not found"}'
  recorded_at: Fri, 10 Nov 2017 13:11:23 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=91308bd8f63e0d7fb201119449dbcd79&q=Atlantis,Greece
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"404","message":"city not found"}'
  recorded_at: Fri, 10 Nov 2017 13:21:00 GMT
recorded_with: VCR 3.0.3
