<h1>All locations</h1>

<a href="/location/random">Visit a random location</a>

<form accept-charset="UTF-8" action="/location" method="get">
  <input type="text" name="city" value="" />
  <input type="text" name="country" value="" />

  <input type="submit" name="ok" id="ok" value="OK" />
</form>
